<div class="row p-3">

    <div class="col">
      <!-- Búsqueda -->
      <app-busqueda>
      <!-- <h5>Buscar:</h5>
      <input
          type="text"
          class="form-control"
          placeholder="Buscar gifs..."
      > -->
      <!-- End Búsqueda -->
      </app-busqueda>
    </div>
  </div>
  
  <hr />
  
  <div class="row">
    <div class="col">
      <!-- Resultados -->
      <app-resultados>
      <!--<div class="row">
        <div>-->
          <!-- Ya le daremos contenido -->
        <!--</div>
      </div>-->
      </app-resultados>
      <!-- End Resultados -->
    </div>
  </div>
